@use '../variables';

.infos-festa {
    padding: 24px 24px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    display: block;
    justify-content: space-between;
    width: 330px;
    border-radius: 8px;
    height: 470px;

    &__infos {
        &__item {
            font-size: 24px;
            color: variables.$text-color;
            margin-bottom: 66px;

            b {
                font-size: 28px;
                display: block;
                color: variables.$text-color;
                margin-bottom: 12px;
            }
        }
    }

    @media (max-width: 768px) {
        display: block;

        &__infos {
            display: block;
        }
    }
}